<div class="ui relaxed horizontal list">
  <div class="item">
    <img class="ui avatar image" src="/images/avatars/office.png">
    <div class="content">
      <div class="header">Microsoft Office</div>
    </div>
  </div>
  <div class="item">
    <img class="ui avatar image" src="/images/avatars/powerbi.png">
    <div class="content">
      <div class="header">Mircosoft Power BI</div>
    </div>
  </div>
  <div class="item">
    <img class="ui avatar image" src="/images/avatars/jetbrains.png">
    <div class="content">
      <div class="header">JetBrains IDEs</div>
    </div>
  </div>
</div>
