<div class="ui dropdown">
  <span class="text">Applications</span>
  <i class="dropdown icon"></i>
  <div class="scrolling menu">
    <div class="item">
      <img class="ui avatar image" src="/images/avatars/office.png">
      Microsoft Office
    </div>
    <div class="item">
      <img class="ui avatar image" src="/images/avatars/powerbi.png">
      Microsoft Power BI
    </div>
    <div class="item">
      <img class="ui avatar image" src="/images/avatars/jetbrains.png">
      JetBrains IDEs
    </div>
  </div>
</div>
