<div class="ui divided items">
  <div class="item">
    <div class="image">
      <img src="/images/schools/nyu.jpg" />
    </div>
    <div class="content">
      <div class="header">New York University</div>
      <div class="meta">Graduated Fall 2016</div>
      <div class="description">
        <p>BA, <strong>Politics & Data Science</strong>, Gallatin School of Individualized Study</p>
        <p>Joint Minor, <strong>Computer Science & Mathematics</strong>, Courant Institute</p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/schools/hw.jpg" />
    </div>
    <div class="content">
      <div class="header">Harvard-Westlake School</div>
      <div class="meta">Graduated Spring 2013</div>
    </div>
  </div>
</div>
