<div class="ui divided items">
  <div class="item">
    <div class="image">
      <img src="/images/companies/fiji.jpg" />
    </div>
    <div class="content">
      <div class="header">Sales Analyst Intern, FIJI Water LLC</div>
      <div class="meta">Summer 2016</div>
      <div class="description">
        <p>
          Developed analytics pipeline in <strong>SQL Server</strong>
          , <strong>SQL Server Integration Services</strong> & <strong>Power BI</strong>
        </p>
        <p>
          Consulted on contract management system in <strong>SharePoint</strong>
        </p>
        <p>
          Deployed proof of concept application using the
          <strong>Microsoft Business Applications Platform</strong>
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/companies/wonderful.jpg" />
    </div>
    <div class="content">
      <div class="header">Sourcing Intern, The Wonderful Company</div>
      <div class="meta">Summer 2015</div>
      <div class="description">
        <p>
          Consulted on weekly reporting system with <strong>SharePoint</strong>
           & <strong>SQL Server</strong>
        </p>
        <p>
          Supported Recruiting team in daily activities
        </p>
        <p>
          Established framework for standard operating procedure documentation
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/companies/blueline.png" />
    </div>
    <div class="content">
      <div class="header">Software Engineer, BlueLine Grid</div>
      <div class="meta">February 2014 - September 2014</div>
      <div class="description">
        <p>
          Supported iOS app production & deployment process with <strong>Git</strong>
           and <strong>Jenkins</strong>
        </p>
        <p>
          Developed backend systems with <strong>Scala</strong>
          , <strong>Akka</strong> and <strong>MySQL</strong>
        </p>
      </div>
    </div>
  </div>
</div>
