<div class="ui divided items">
  <div class="item">
    <div class="image">
      <img src="/images/companies/nativo.jpg" />
    </div>
    <div class="content">
      <div class="header">Data Engineer, Nativo, Inc.</div>
      <div class="meta">January 2020-March 2020</div>
      <div class="description">
        <p>
          Supported client-facing reporting server in Play Framework and <strong>Snowflake</strong>
        </p>
        <p>
          Automated billing adjustments system in Scala and <strong>Apache Spark</strong>
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/companies/regent.jpg" />
    </div>
    <div class="content">
      <div class="header">Data Engineer, Regent, L.P.</div>
      <div class="meta">July 2018-Present</div>
      <div class="description">
        <p>
          Restoring companies to profitability with <strong>cloud native</strong> technologies
        </p>
        <p>
          Engineering data platform for shared services on <strong>Kubernetes</strong>
          and <strong>Apache Spark</strong>
        </p>
        <p>
          Responsible for maintenance of <strong>Snowflake</strong> data warehouse
        </p>
        <p>
          Planned and executed retail platform migration
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/companies/fiji.jpg" />
    </div>
    <div class="content">
      <div class="header">Data Engineer, FIJI Water</div>
      <div class="meta">April 2017-May 2018</div>
      <div class="description">
        <p>
          Architected and developed ETL pipeline and data warehouse in
          <strong>Azure Blob Storage</strong>, <strong>Apache Spark</strong>
          and <strong>SQL Server</strong>
        </p>
        <p>
          Automated reports with and trained teams on <strong>Power BI</strong>
        </p>
        <p>
          Contributed to cross-business initiatives and advocated for
          <strong>cloud-native</strong> technology in a traditional CPG business
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/companies/fiji.jpg" />
    </div>
    <div class="content">
      <div class="header">Sales Analyst Intern, FIJI Water</div>
      <div class="meta">Summer 2016</div>
      <div class="description">
        <p>
          Developed analytics pipeline in <strong>SQL Server</strong>
          & <strong>Power BI</strong>
        </p>
        <p>
          Consulted on contract management system in <strong>SharePoint</strong>
        </p>
        <p>
          Deployed proof of concept application using the
          <strong>Microsoft Business Applications Platform</strong>
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/companies/wonderful.jpg" />
    </div>
    <div class="content">
      <div class="header">Sourcing Intern, The Wonderful Company</div>
      <div class="meta">Summer 2015</div>
      <div class="description">
        <p>
          Consulted on weekly reporting system with <strong>SharePoint</strong>
           & <strong>SQL Server</strong>
        </p>
        <p>
          Supported Recruiting team in daily activities
        </p>
        <p>
          Established framework for standard operating procedure documentation
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/companies/blueline.png" />
    </div>
    <div class="content">
      <div class="header">Software Engineer, BlueLine Grid</div>
      <div class="meta">February 2014 - September 2014</div>
      <div class="description">
        <p>
          Supported iOS app production & deployment process with <strong>Git</strong>
           and <strong>Jenkins</strong>
        </p>
        <p>
          Developed backend systems with <strong>Scala</strong>
          , <strong>Akka</strong> and <strong>MySQL</strong>
        </p>
      </div>
    </div>
  </div>
</div>
