<div class="ui divided items">
  <div class="item">
    <div class="image">
      <img src="/images/companies/wnyu.png" />
    </div>
    <div class="content">
      <div class="header">Host & Executive Producer, <em>The Cheap Seats</em></div>
      <div class="meta">October 2014 - January 2017</div>
      <div class="description">
        <p>Helped manage student-run radio station</p>
        <p>Produced weekly sports radio program</p>
        <p style="font-size: .8rem;">
          <a href="http://wnyu.org/archives?c=-cheap-seats">Check out the archive!</a>
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/companies/ymca.png" />
    </div>
    <div class="content">
      <div class="header">Camp Counselor, Westside Family YMCA</div>
      <div class="meta">Summer 2011 - Summer 2014</div>
      <div class="description">
        <p>Organized activities for and led cabins at YMCA Camp Whittle</p>
      </div>
    </div>
  </div>
</div>
