---
layout: default
title: Brian Bagdasarian
---
<div class="ui text container">
  <a class="ui right floated icon button basic secondary" href="">Download CV
    <i class="download icon"></i>
  </a>
  <h1 class="ui yellow header">Brian Bagdasarian</h1>
  <div class="ui buttons">
    <a class="ui button yellow" href="mailto:bbagdasarian.scs@gmail.com">
      <i class="mail icon"></i>
      Email
    </a>
    <div class="or"></div>
    <a class="ui linkedin button" href="https://www.linkedin.com/in/brian-bagdasarian-a8a497102
">
      <i class="linkedin icon"></i>
      LinkedIn
    </a>
  </div>
  <h2 class="ui yellow header">Skills</h2>
  {% include skills.html %}
  <div class="ui divider"></div>
  <h2 class="ui yellow header">Education</h2>
  {% include education.html %}
  <div class="ui divider"></div>
  <h2 class="ui yellow header">Experience</h2>
  {% include experience.html %}
</div>
