---
layout: default
title: Brian Bagdasarian
---
<div class="ui text container">
  <a class="ui right floated icon button basic primary" href="/assets/bbagdasarian_cv.pdf">Download CV
    <i class="download icon"></i>
  </a>
  <h1 class="ui header">Brian Bagdasarian</h1>
  <address>
    14497 Glorietta Drive
    <br />
    Los Angeles, CA 91423
    <br />
    (818) 216-7171
    <br />
    <a href="mailto:bbagdasarian.scs@gmail.com">bbagdasarian.scs@gmail.com</a>
  </address>
  <h2>Education</h2>
  {% include education.html %}
  <div class="ui divider"></div>
  <h2>Experience</h2>
  {% include experience.html %}
  <div class="ui divider"></div>
  <h2>Skills</h2>
  {% include skills.html %}
</div>
